<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <!-- Configuration for Local development -->
  <springProfile name="local | dev">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- micro-service log level -->
    <logger name="com.eai.user" level="DEBUG"/>

    <!-- hibernate log level -->
    
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type" level="TRACE"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>
</configuration>